[submodule "gopkg/src/github.com/yanatan16/GoMySQL"]
	path = gopkg/src/github.com/yanatan16/GoMySQL
	url = https://github.com/yanatan16/GoMySQL.git
[submodule "gopkg/src/github.com/ungerik/go-cairo"]
	path = gopkg/src/github.com/ungerik/go-cairo
    url = https://github.com/ungerik/go-cairo.git
[submodule "gopkg/src/github.com/kardianos/osext"]
	path = gopkg/src/github.com/kardianos/osext
	url = https://github.com/kardianos/osext.git

